<%- include('./header.ejs', {path: '../'}) %>
        <!--end Header-->
        <!--start section.breadCrumps-->
        <section class="breadCrumps">
            <div class="container">
                <div class="row_flex">
                    <ul class="list_breadCrumps">
                        <li><a href="#">Главная</a><i>\</i></li>
                        <li><span>Корзина</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--end section.breadCrumps-->
        <!--start section.basket-->
        <section class="basket">
            <div class="container">
                <div class="block__caption_main">
                    <h2 class="caption_main">Корзина</h2>
                    <span class="number_product">3 товара в корзине</span>
                </div>
                <div class="block_basket">
                    <div class="head_basket row_flex hidden-xs">
                        <div class="col-md-6 col-sm-5"><p class="name">Наименования</p></div>
                        <div class="col-md-2 col-sm-3 textCenter"><p class="name">Кол-во</p></div>
                        <div class="col-md-3 col-sm-3 textCenter"><p class="name">Цена</p></div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                    <div class="item_basket row_flex">
                        <div class="col-md-6 col-sm-5 col-xs-12 description row_flex">
                            <div class="img_wrapper"><img src="img/products/phil1.jpg" alt=""></div>
                            <div class="name_product">
                                <p class="title"><a href="#">Черная "Philip Plein"</a></p>
                                <span class="sub">Артикл: <b>1322</b></span>
                                <span class="sub">Цвет: <b>Черный</b></span>
                                <span class="sub">Размер: <b>S</b></span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6 block_number">
                            <form action="">
                                <div class="checkNumber number-controls">
                                    <span class="minus js-number-control input-number-decrement">–</span>
                                    <input class="input-number" type="number" pattern="\d*" step="1" min="1" max="5" value="1">
                                    <span class="plus js-number-control input-number-increment">+</span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 block_price">
                            <span class="old_price">750 сом</span>
                            <span class="new_price">550 сом</span>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12 block_closed">
                            <a href="#" class="btn_closed">&times;</a>
                        </div>
                    </div>
                    <div class="item_basket row_flex">
                        <div class="col-md-6 col-sm-5 col-xs-12 description row_flex">
                            <div class="img_wrapper"><img src="img/products/phil1.jpg" alt=""></div>
                            <div class="name_product">
                                <p class="title"><a href="#">Черная "Philip Plein"</a></p>
                                <span class="sub">Артикл: <b>1322</b></span>
                                <span class="sub">Цвет: <b>Черный</b></span>
                                <span class="sub">Размер: <b>S</b></span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6 block_number">
                            <form action="">
                                <div class="checkNumber number-controls">
                                    <span class="minus js-number-control input-number-decrement">–</span>
                                    <input class="input-number" type="number" pattern="\d*" step="1" min="1" max="5" value="1">
                                    <span class="plus js-number-control input-number-increment">+</span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 block_price">
                            <span class="old_price">750 сом</span>
                            <span class="new_price">550 сом</span>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12 block_closed">
                            <a href="#" class="btn_closed">&times;</a>
                        </div>
                    </div>
                    <div class="item_basket row_flex">
                        <div class="col-md-6 col-sm-5 col-xs-12 description row_flex">
                            <div class="img_wrapper"><img src="img/products/phil1.jpg" alt=""></div>
                            <div class="name_product">
                                <p class="title"><a href="#">Черная "Philip Plein"</a></p>
                                <span class="sub">Артикл: <b>1322</b></span>
                                <span class="sub">Цвет: <b>Черный</b></span>
                                <span class="sub">Размер: <b>S</b></span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6 block_number">
                            <form action="">
                                <div class="checkNumber number-controls">
                                    <span class="minus js-number-control input-number-decrement">–</span>
                                    <input class="input-number" type="number" pattern="\d*" step="1" min="1" max="5" value="1">
                                    <span class="plus js-number-control input-number-increment">+</span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 block_price">
                            <span class="old_price">750 сом</span>
                            <span class="new_price">550 сом</span>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12 block_closed">
                            <a href="#" class="btn_closed">&times;</a>
                        </div>
                    </div>
                    <div class="footer_basket">
                       <div class="box_text">
                           <p class="sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tenetur aliquam quis distinctio voluptatibus esse ad adipisci aperiam officiis, amet sapiente pariatur. Neque incidunt dolore praesentium, perspiciatis officia, est omnis doloribus. Earum sint animi atque voluptatum, dolor obcaecati necessitatibus corporis.</p>
                       </div>
                        <div class="box">
                            <span class="total">Сумма без скидки: <b>799</b> сом</span>
                            <span class="share">Скидка: <b>12</b> %</span>
                            <span class="total">Итого: <b class="ok">712</b> сом</span>
                            <a href="#" class="btn_main" data-toggle="modal" data-target="#modal_basket">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end section.basket-->
        <!--start section.banner-->
        <section class="banner">
            <div class="container">
                <div class="box_banner"><a href="#" class="img_wrapper"><img src="img/jpg/banner.jpg" alt=""></a></div>
            </div>
        </section>
        <!--end section.banner-->
        <!--start Footer-->
        <%- include('./footer.ejs', {path: '../'}) %>
        <script>
            $(document).ready(function(){
                $('.slider-for').each(function() {
                    $(this).magnificPopup({
                        delegate: '.image-link',
                        type: 'image',
                        gallery: {
                            enabled:true
                        },
                        zoom: {
                            enabled: true,

                            duration: 600,
                            easing: 'ease-in-out',
                            opener: function(openerElement) {
                                return openerElement.is('img') ? openerElement : openerElement.find('img');
                            }
                        }
                    });
                });
                $('.slider-for').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: false,
                    fade: true,
                    asNavFor: '.slider-nav'
                });
                $('.slider-nav').slick({
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    asNavFor: '.slider-for',
                    focusOnSelect: true
                });
            });
        </script>

    </body>
</html>
