<%- include('./header.ejs', {path: '../'}); %>
        <!--end Header-->
        <!--start section.breadCrumps-->
        <section class="breadCrumps">
            <div class="container">
                <div class="row_flex">
                    <ul class="list_breadCrumps">
                        <li><a href="#">Главная</a><i>\</i></li>
                        <li><a href="#">Каталог</a><i>\</i></li>
                        <li><a href="#">Одежда</a><i>\</i></li>
                        <li><span>Для мужчин</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--end section.breadCrumps-->
        <!--start section.banner-->
        <section class="banner">
            <div class="container">
                <div class="box_banner"><a href="#" class="img_wrapper"><img src="img/jpg/banner.jpg" alt=""></a></div>
            </div>
        </section>
        <!--end section.banner-->
        <!--start section.main-->
        <section class="main">
            <div class="container">
               <div class="row_flex">
                   <div class="col-md-3 col-sm-12 col-xs-12 site_bar">
                       <div class="wrapper_site_bar">
                           <div class="box_caption_sitebar">
                               <p class="caption">Одежда для мужчин</p>
                           </div>
                           <ul class="list__under_category">
                               <li class="active"><a href="#">Футболки</a></li>
                               <li><a href="#">Куртки</a></li>
                               <li><a href="#">Кофты</a></li>
                               <li><a href="#">Желетки</a></li>
                               <li><a href="#">Брюки</a></li>
                               <li><a href="#">Шорты</a></li>
                               <li><a href="#">Трусики</a></li>
                               <li><a href="#">Носки</a></li>
                           </ul>
                           <div class="block__filter">
                               <div class="block__filter">
                                   <div class="btnAccordion" data-toggle="collapse" data-target="#listAccordion2">
                                       <p class="name">Цена</p>
                                       <i class="fa fa-angle-down icon-arrow" aria-hidden="true"></i>
                                   </div>
                                   <div id="listAccordion2" class="collapse in">
                                       <div class="box-price">
                                           <div class="box-range">
                                               <div class="range-slider">
                                                   <input value="90" min="90" max="535" step="1" type="range">
                                                   <input value="535" min="90" max="535" step="1" type="range">
                                                   <span class="rangeValues"></span>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-9 col-sm-12 col-xs-12 main_content">
                       <div class="block__caption_main">
                           <h2 class="caption_main_catalog">Футболки</h2>
                           <div class="box_filter_products flex_box">
                               <span class="number_product">256  товаров</span>
                               <div class="group-btn">
                                   <button class="btn-position swap">
                                       <ul class="icon">
                                           <li></li>
                                           <li></li>
                                           <li></li>
                                       </ul>
                                       <ul class="icon">
                                           <li></li>
                                           <li></li>
                                           <li></li>
                                       </ul>
                                       <ul class="icon">
                                           <li></li>
                                           <li></li>
                                           <li></li>
                                       </ul>
                                   </button>
                               </div>
                           </div>
                       </div>
                       <ul class="list__products columnStyle row_flex">
                           <li class="col-md-4 col-sm-4 col-xs-12 item">
                               <div class="wrapper_product">
                                   <a href="#" class="img_wrapper"><img src="img/products/prod1.jpg" alt=""></a>
                                   <div class="box_description">
                                       <p class="name"><a href="#">Коврик для мыши</a></p>
                                       <span class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facilis, quod quae.</span>
                                       <div class="bottom_box">
                                           <div class="box_price"><span class="old_price">780 сом</span><span class="price">650сом</span></div>
                                           <div class="box_basket">
                                               <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li class="col-md-4 col-sm-4 col-xs-12 item">
                               <div class="wrapper_product">
                                   <a href="#" class="img_wrapper"><img src="img/products/prod2.jpg" alt=""></a>
                                   <div class="box_description">
                                       <p class="name"><a href="#">Рюкзак горный</a></p>
                                       <span class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facilis, quod quae.</span>
                                       <div class="bottom_box">
                                           <div class="box_price"><span class="price">650сом</span></div>
                                           <div class="box_basket">
                                               <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li class="col-md-4 col-sm-4 col-xs-12 item">
                               <div class="wrapper_product">
                                   <a href="#" class="img_wrapper"><img src="img/products/prod3.jpg" alt=""></a>
                                   <div class="box_description">
                                       <p class="name"><a href="#">Квадрокоптер "НЕ ЛЕТАЮ"</a></p>
                                       <span class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facilis, quod quae.</span>
                                       <div class="bottom_box">
                                           <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                                           <div class="box_basket">
                                               <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li class="col-md-4 col-sm-4 col-xs-12 item">
                               <div class="wrapper_product">
                                   <a href="#" class="img_wrapper"><img src="img/products/prod4.jpg" alt=""></a>
                                   <div class="box_description">
                                       <p class="name"><a href="#">Велосипед детский</a></p>
                                       <span class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facilis, quod quae.</span>
                                       <div class="bottom_box">
                                           <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                                           <div class="box_basket">
                                               <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li class="col-md-4 col-sm-4 col-xs-12 item">
                               <div class="wrapper_product">
                                   <a href="#" class="img_wrapper"><img src="img/products/prod1.jpg" alt=""></a>
                                   <div class="box_description">
                                       <p class="name"><a href="#">Коврик для мыши</a></p>
                                       <span class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facilis, quod quae.</span>
                                       <div class="bottom_box">
                                           <div class="box_price"><span class="old_price">780 сом</span><span class="price">650сом</span></div>
                                           <div class="box_basket">
                                               <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li class="col-md-4 col-sm-4 col-xs-12 item">
                               <div class="wrapper_product">
                                   <a href="#" class="img_wrapper"><img src="img/products/prod2.jpg" alt=""></a>
                                   <div class="box_description">
                                       <p class="name"><a href="#">Рюкзак горный</a></p>
                                       <span class="descript">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio facilis, quod quae.</span>
                                       <div class="bottom_box">
                                           <div class="box_price"><span class="price">650сом</span></div>
                                           <div class="box_basket">
                                               <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                       </ul>
                       <div class="textCenter">
                           <ul class="paginator">
                               <li><a href="#"><i class="fas fa-arrow-left"></i></a></li>
                               <li class="active"><a href="#">1</a></li>
                               <li><a href="#">2</a></li>
                               <li><a href="#">3</a></li>
                               <li><a href="#">4</a></li>
                               <li><a href="#"><i class="fas fa-arrow-right"></i></a></li>
                           </ul>
                       </div>
                   </div>
               </div>
            </div>
        </section>
        <!--end section.main-->
        <!--start section.banner-->
        <section class="banner">
            <div class="container">
                <div class="box_banner"><a href="#" class="img_wrapper"><img src="img/jpg/banner.jpg" alt=""></a></div>
            </div>
        </section>
        <!--end section.banner-->
        <!--start Footer-->
        <%- include('./footer.ejs', {path: '../'}); %>
        <script>
            $(document).ready(function(){
                $('.list-gallery').each(function() {
                    $(this).magnificPopup({
                        delegate: '.image-link',
                        type: 'image',
                        gallery: {
                            enabled:true
                        },
                        zoom: {
                            enabled: true,

                            duration: 600,
                            easing: 'ease-in-out',
                            opener: function(openerElement) {
                                return openerElement.is('img') ? openerElement : openerElement.find('img');
                            }
                        }
                    });
                });
            });
        </script>

    </body>
</html>
