<%- include('./header.ejs', {path: '../'}); %>
<!--end Header-->
<!--start section.fade-slider-->
<section id="parallax" class="fade_slider">
    <div class="item" style="background: url(img/slider/slide1.jpg) center no-repeat; background-size: cover;">
        <div class="container">
            <div class="row_flex"><div class="img_wrapper">Все за покупками к нам!!!</div></div>
        </div>
    </div>
    <div class="item" style="background: url(img/slider/slide1.jpg) center no-repeat; background-size: cover;">
        <div class="container">
            <div class="row_flex"><div class="img_wrapper">Все за покупками к нам!!!</div></div>
        </div>
    </div>
</section>
<!--end section.fade-slider-->
<!--start section.advantages-->
<section class="advantages">
    <div class="container">
        <div class="row_flex">
            <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                <div class="img_wrapper"><img src="img/png/award.png" alt=""></div>
                <div class="description">
                    <p>Контроль и гарантия качества</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                <div class="img_wrapper"><img src="img/png/partner.png" alt=""></div>
                <div class="description">
                    <p>Уникальный сервис для всех клиентов</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                <div class="img_wrapper"><img src="img/png/speaker.png" alt=""></div>
                <div class="description">
                    <p>Быстрая доставка по всему городу</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                <div class="img_wrapper"><img src="img/png/teamwork.png" alt=""></div>
                <div class="description">
                    <p>Более 35 известных брендов Китая</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end section.advantages-->
<!--start section.main-->
<section class="main">
    <div class="container">
        <div class="block__caption_main">
            <h2 class="caption_main">Новинки</h2>
            <span class="number_product">356  товаров</span>
        </div>
        <ul class="list__products row_flex">
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod1.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Коврик для мышиКоврик для мышиКоврик для мыши</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">780 сом</span><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod2.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Рюкзак горный</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod3.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Квадрокоптер "НЕ ЛЕТАЮ"</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod4.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Велосипед детский</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod1.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Коврик для мыши</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">780 сом</span><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod2.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Рюкзак горный</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod3.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Квадрокоптер "НЕ ЛЕТАЮ"</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod4.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Велосипед детский</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="textCenter"><a href="#" class="btn_main">Все товары</a></div>
    </div>
</section>
<!--end section.main-->
<!--start section.banner-->
<section class="banner">
    <div class="container">
        <div class="box_banner"><a href="#" class="img_wrapper"><img src="img/jpg/banner.jpg" alt=""></a></div>
    </div>
</section>
<!--end section.banner-->
<!--start section.main-->
<section class="main">
    <div class="container">
        <div class="block__caption_main">
            <h2 class="caption_main">В тренде</h2>
            <span class="number_product">256  товаров</span>
        </div>
        <ul class="list__products row_flex">
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod1.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Коврик для мыши</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">780 сом</span><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod2.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Рюкзак горный</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod3.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Квадрокоптер "НЕ ЛЕТАЮ"</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod4.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Велосипед детский</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod1.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Коврик для мыши</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">780 сом</span><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod2.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Рюкзак горный</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="price">650сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod3.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Квадрокоптер "НЕ ЛЕТАЮ"</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-md-3 col-sm-4 col-xs-12 item">
                <div class="wrapper_product">
                    <a href="#" class="img_wrapper"><img src="img/products/prod4.jpg" alt=""></a>
                    <div class="box_description">
                        <p class="name"><a href="#">Велосипед детский</a></p>
                        <div class="bottom_box">
                            <div class="box_price"><span class="old_price">7080 сом</span><span class="price">6550сом</span></div>
                            <div class="box_basket">
                                <a href="#" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="textCenter"><a href="#" class="btn_main">Все товары</a></div>
    </div>
</section>
<!--end section.main-->
<!--start Footer-->

<%- include('./footer.ejs', {path: '../'}); %>