<%- include('./header.ejs', {path: '../'}); %>
<section style="height: 200px;"></section>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="block-form">
                <form action="/product/add" method="POST" enctype="multipart/form-data">
                    <div class="group">
                        <input type="text" name="title" placeholder="Наименование товара">
                    </div>
                    <div class="group">
                        <input type="text" name="articul" placeholder="Артикул">
                    </div>
                    <div class="group">
                        <input type="text" name="madeIn" placeholder="Производство">
                    </div>
                    <div class="group">
                        <input type="text" name="size" placeholder="Размер">
                    </div>
                    <div class="group">
                        <input type="text" name="oldPrice" placeholder="Старая цена">
                    </div>
                    <div class="group">
                        <input type="text" name="price" placeholder="Цена">
                    </div>
                    <div class="group">
                        <input type="file" name="img" accept="image/*">
                    </div>
                    <div class="textCenter">
                        <div class="goup-btn">
                            <button type="submit" class="btn_main">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('./footer.ejs', {path: '../'}); %>
